<div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="text-center" style="margin-top: 80px;">
          <i class="fa fa-rocket" style="font-size:110px;color:white"></i>
          <h1>Welcome</h1>
          <p>You are 30 second away From earning your own money!</p>
          <a routerLink="register"><button class="btn-primary button-register"> Resgister</button></a>
  
        </div>
  
      </div>
      <div class="col-md-7 ">
  
        <div class="card">
          <div class="card-body">
            <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Submit Successfully!</strong> Data has been entered.
              <button (click)="closeAlert()" type="button " class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <form [formGroup]="addWebApp" (ngSubmit)="collection()">
              <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="name" class="form-control" formControlName="name" placeholder="Product Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Amount</label>
                <input type="amount" class="form-control" formControlName="amount" placeholder="Enter Amount">
              </div> <br>
              <!-- <div class="form-group">
                <label for="exampleInputEmail1">Address</label>
                <input type="address" class="form-control" formControlName="address" placeholder="Enter Address">
              </div> <br> -->
             
  
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
  
  
  
      </div>
    </div>
  </div>